/* Montserrat Regular 400 Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Source Code Pro Regular 400 Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* Incosolata 500 Font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

#homepage {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* place-content: center; */
    overflow-x: hidden;
}

#homepage-typing {
    font-size: 4rem;
    font-family: "Source Code Pro", monospace;
    width: max-content;

    position: relative;
    left: 21.2rem;
}

#homepage-typing::before, #homepage-typing::after {
    content: "";
    position: absolute;
    inset: 0;
}

#homepage-typing::before {
    background: white;
    animation: typing 3s steps(12) 1s forwards;
}

#homepage-typing::after {
    width: 0.115em;
    background: black;
    animation: typing 3s steps(12) 1s forwards, blink .75s infinite alternate;
}

@keyframes typing {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

#homepage-underline {
    border-top: .375em solid cornflowerblue;
    margin-bottom: 1em;
    width: 24.5%;

    opacity: 0;
    transform: translateX(-200%);
    animation: enterleft 2.5s ease-in 3.25s forwards;
}

@keyframes enterleft {
    to {
        opacity: 1;
        transform: translateX(72.6%);
    }
}

#homepage-description {
    /* width: 40%; */
    font-size: 1.1em;

    opacity: 0;
    transform: translateX(200%);
    animation: enterright 2.5s ease-in 3.25s forwards;
}

@keyframes enterright {
    to {
        opacity: 1;
        transform: translateX(-24%);
    }
}

#homepage-description span {
    color: cornflowerblue;
    font-weight: 750;
}

#homepage-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;

    margin-top: 1em;
    width: 60%;
    border: .2em solid black;

    opacity: 0;
    animation: fadein 1s ease-in 5s forwards;

    position: absolute;
    top: 11em;
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

#browser-bar {
    padding-left: 10px;
    border-bottom: .2em solid black;
    width: 100%;

    display: flex;
    justify-content: space-between;

    position: absolute;
    top: .1rem;
}

#browser-circle-container {
     display: flex;
     justify-content: space-evenly;

     width: 15%;
}

.browser-circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background: rgb(0, 170, 0);
}

.yellow {
    background: rgb(228, 228, 23);
}

.red {
    background: red;
}


/* Think about this and make it better; think about spacing between the react-window list and the scrollbar itself */
#homepage-list div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#homepage-list div::-webkit-scrollbar-thumb {
    background: rgb(255, 58, 91);
    border-radius: 10px;
}

#homepage-list div::-webkit-scrollbar-track {
    background: pink;
    border-radius: 10px;
}

.homepage-link {
    color: black;
    font-size: 18px;
    text-decoration: none;
    border: .15rem solid black;
    border-radius: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 10px 0;
    padding-right: -200px;
    height: 90px !important;

    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.homepage-link:hover {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.homepage-link:active {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(.98);
}

.homepage-link-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 365px;
}

#homepage-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .85rem;
    text-decoration: none;

    border: .65rem double black;
    border-radius: 35px;
    background: black;
    color: white;

    font-family: 'Montserrat', sans-serif;
}

#homepage-button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

#homepage-button:active {
    background: rgba(255, 255, 255, 0.7);
    transform: scale(.98);
}

