/* Montserrat Regular 400 Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Source Code Pro Regular 400 Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* Incosolata 500 Font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

#homepage {
    padding-top: 3rem;
    display: grid;
    place-content: center;
}

#homepage-typing {
    font-size: 4rem;
    position: relative;
    font-family: "Source Code Pro", monospace;
    width: max-content;
}

#homepage-typing::before, #homepage-typing::after {
    content: "";
    position: absolute;
    inset: 0;
}

#homepage-typing::before {
    background: white;
    animation: typing 3s steps(12) 1.5s forwards;
}

#homepage-typing::after {
    width: 0.115em;
    background: black;
    animation: typing 3s steps(12) 1.5s forwards, blink 775ms steps(12) infinite;
}

@keyframes typing {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

#homepage-underline {
    border-top: .375em solid black;
    margin-bottom: 1em;

    transform: translateX(-200%);
    animation: enterleft 2s ease-in 3.5s forwards;
}

@keyframes enterleft {
    to {
        transform: translateX(0);
    }
}

#homepage-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;

    opacity: 0;    
    animation: fadein 1s ease-in 6s forwards;
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

/* Think about this and make it better; think about spacing between the react-window list and the scrollbar itself */
#homepage-list div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#homepage-list div::-webkit-scrollbar-thumb {
    background: rgb(255, 58, 91);
    border-radius: 10px;
}

#homepage-list div::-webkit-scrollbar-track {
    background: pink;
    border-radius: 10px;
}

.homepage-link {
    color: pink;
    text-decoration: none;
    border: .15rem solid black;
    border-radius: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    height: 90px !important;

    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.homepage-link:hover {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.homepage-link:active {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(.98);
}

.homepage-link-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 335px;
}

#homepage-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .85rem;
    text-decoration: none;

    border: .65rem double black;
    border-radius: 35px;
    background: black;
    color: white;

    font-family: 'Montserrat', sans-serif;
}

#homepage-button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

#homepage-button:active {
    background: rgba(255, 255, 255, 0.7);
    transform: scale(.98);
}

