/* Montserrat Regular 400 Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#homepage-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}

/* Think about this and make it better; think about spacing between the react-window list and the scrollbar itself */
#homepage-list div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#homepage-list div::-webkit-scrollbar-thumb {
    background: rgb(255, 58, 91);
    border-radius: 10px;
}

#homepage-list div::-webkit-scrollbar-track {
    background: pink;
    border-radius: 10px;
}

.homepage-link {
    color: pink;
    text-decoration: none;
    border: .15rem solid black;
    border-radius: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    height: 90px !important;

    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.homepage-link:hover {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.homepage-link:active {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(.98);
}

.homepage-link-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 335px;
}

#homepage-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .85rem;
    text-decoration: none;

    border: .65rem double black;
    border-radius: 35px;
    background: black;
    color: white;

    font-family: 'Montserrat', sans-serif;
}

#homepage-button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

#homepage-button:active {
    background: rgba(255, 255, 255, 0.7);
    transform: scale(.98);
}

